# q1

In [1]:
my_name = 'carlson'
print (my_name)

carlson

# q2

In [2]:
my_id = '321321'
print (my_id)

321321

# q3

In [3]:
my_id_str = '321321'
print (my_id_str)

321321

# q4

In [4]:
my_name = 'carlson'
my_id = 321321
print (my_name + my_id)

TypeError: must be str, not int

In [ ]:
No, because it has to be an str not an int.

# q5

In [5]:
print (my_name + my_id_str)

carlson321321

In [ ]:
Yes, the result is that both of them are combined.

# q6

In [7]:
'hello, world. This is my first python string.'.split('.')
print ('hello, world. This is my first python string.'.split('.'))

['hello, world', ' This is my first python string', '']

# q7

In [8]:
str_list = ['a','b','c','d','e']
str_list.sort()
print (str_list)

['a', 'b', 'c', 'd', 'e']

In [ ]:
No, because the list is already sorted.

# q8

In [10]:
str_list.append('f')
print (str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# q9

In [11]:
str_list.remove('d')
print (str_list)

['a', 'b', 'c', 'e', 'f']

# q10

In [18]:
print (str_list[2])

c

# q11

In [19]:
num_list = ['12','32','43','35']
print (str_list + num_list)

['a', 'b', 'c', 'e', 'f', '12', '32', '43', '35']

In [ ]:
Yes, the result is both of the lists combined together.

# q12

In [28]:
my_dict = {'name':'Sam',
           'id':1234}
print(my_dict)

{'name': 'Sam', 'id': 1234}

# q13

In [29]:
my_dict['name']='Carlson'
print(my_dict)

{'name': 'Carlson', 'id': 1234}

# q14

In [26]:
print (my_dict['id'])

1234

# q15

In [30]:
my_dict['id']=432432
print(my_dict)

{'name': 'Carlson', 'id': 432432}

# q16

In [34]:
my_dict['num_list'] = num_list
print(my_dict)

{'name': 'Carlson', 'id': 432432, 'num_list': ['12', '32', '43', '35']}

In [ ]:
The number list was added to the dictionary.

# q17

In [40]:
num_list.sort()
print (num_list)
print (num_list[0])
print (num_list[3])

['12', '32', '35', '43']
12
43